nodered/flow.txt
[{"id":"420eff11.bad68","type":"debug","z":"a7ae695b.14a728","name":"sap inbound","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":200,"wires":[]},{"id":"23c0a574.10a9a2","type":"websocket out","z":"a7ae695b.14a728","name":"mqba_sapgw","server":"dc5e9c0.7a4c0e8","client":"","x":900,"y":140,"wires":[]},{"id":"5a8ef31f.929d24","type":"function","z":"a7ae695b.14a728","name":"build sap format","func":"// set new payload\nmsg.old_payload = msg.payload;\nmsg.payload =  \"t:\" + msg.topic;\nmsg.payload += \"\\nr:\" + msg.retain;\nmsg.payload += \"\\nq:\" + msg.qos;\nmsg.payload += \"\\ni:\" + msg._msgid;\nmsg.payload += \"\\ns:\" + 'nr-gateway';\nmsg.payload += \"\\np:\" + msg.old_payload;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["23c0a574.10a9a2","420eff11.bad68"]]},{"id":"ce7fa0b6.95bd3","type":"mqtt in","z":"a7ae695b.14a728","name":"mqtt inbound","topic":"#","qos":"2","broker":"f062c95b.34c63","x":70,"y":180,"wires":[["b6aa43d2.9b8ed8"]]},{"id":"4d66e6f.e13ea18","type":"websocket in","z":"a7ae695b.14a728","name":"mqba_sapgw","server":"dc5e9c0.7a4c0e8","client":"","x":70,"y":360,"wires":[["43b888b5.e15238"]]},{"id":"d51720eb.7e50b8","type":"debug","z":"a7ae695b.14a728","name":"sap outbound","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":420,"wires":[]},{"id":"8313805.535a08","type":"mqtt out","z":"a7ae695b.14a728","name":"mqtt outbound","topic":"","qos":"","retain":"","broker":"f062c95b.34c63","x":900,"y":360,"wires":[]},{"id":"bfad6e1e.a9a3f","type":"function","z":"a7ae695b.14a728","name":"check for topic ","func":"// store topic to eliminate echos    \nflow.set(msg.topic,new Date());\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":360,"wires":[["8313805.535a08","d51720eb.7e50b8"]]},{"id":"b6aa43d2.9b8ed8","type":"function","z":"a7ae695b.14a728","name":"check content","func":"// check context\nif( msg.topic != undefined ){\n    var called = flow.get(msg.topic);\n    if(called != undefined ){\n        // ignore this message\n        flow.set(msg.topic,null);\n        msg.valid = false;\n    }else msg.valid = true;\n}else{\n    msg.valid = false;\n}\n// return\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["e80627b0.0369"]]},{"id":"e80627b0.0369","type":"switch","z":"a7ae695b.14a728","name":"valid message?","property":"valid","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":180,"wires":[["5a8ef31f.929d24"],["569ed326.f1b3b4"]]},{"id":"569ed326.f1b3b4","type":"debug","z":"a7ae695b.14a728","name":"invalid message inbound","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":260,"wires":[]},{"id":"43b888b5.e15238","type":"function","z":"a7ae695b.14a728","name":"check content","func":"// check for empty context\nif(msg.payload === undefined){\n    msg.valid = false;\n    return msg;\n}\n\n// check for json context\nvar firstChar = msg.payload.substr(0,1);\nif( firstChar != '{' ){\n    msg.valid = false;\n    return msg;\n}\n\n\n// get message from json payload\nvar newMsg = JSON.parse(msg.payload);\n\n// check invalid topic\nif(newMsg.topic === undefined){\n    msg.valid = false;\n    return msg;\n}else{\n// move some values from current msg object    \n    newMsg._session = msg._session;\n    newMsg._msgid   = msg._msgid;\n    newMsg.valid = true;    \n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["beb2ef63.c85d48"]]},{"id":"beb2ef63.c85d48","type":"switch","z":"a7ae695b.14a728","name":"valid message?","property":"valid","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":360,"wires":[["bfad6e1e.a9a3f"],["24ccd2a9.e840de"]]},{"id":"24ccd2a9.e840de","type":"debug","z":"a7ae695b.14a728","name":"invalid message outbound","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":460,"wires":[]},{"id":"61baaa09.90cfac","type":"comment","z":"a7ae695b.14a728","name":"MQBA Message Queue Broker ABAP - V20180711 ","info":"","x":190,"y":80,"wires":[]},{"id":"dc5e9c0.7a4c0e8","type":"websocket-listener","z":"","path":"ws://mqba_sap:8000/sap/bc/apc/sap/zmqba_gw","wholemsg":"false"},{"id":"f062c95b.34c63","type":"mqtt-broker","z":"","name":"mqba_mqtt_broker","broker":"mqba_broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
