nodered/flow.txt
[{"id":"8db8aecb.b6d9d","type":"mqtt-broker","z":"","broker":"mqba_broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fc9dd82f.45a3e8","type":"websocket-listener","z":"","path":"ws://mqba_sap:8000/sap/bc/apc/sap/zmqba_gw","wholemsg":"false"},{"id":"b34fb96b.3b9378","type":"debug","z":"83f8131.9ac25f","name":"sap inbound","active":false,"console":false,"complete":"payload","x":960.0142211914062,"y":239.00567626953125,"wires":[]},{"id":"ccc5aed3.ebb44","type":"websocket out","z":"83f8131.9ac25f","name":"mqba_sapgw","server":"fc9dd82f.45a3e8","client":"","x":970.0142211914062,"y":179.00567626953125,"wires":[]},{"id":"dc4ce9b7.c7a798","type":"function","z":"83f8131.9ac25f","name":"build sap format","func":"// set new payload\nmsg.old_payload = msg.payload;\nmsg.payload =  \"t:\" + msg.topic;\nmsg.payload += \"\\nr:\" + msg.retain;\nmsg.payload += \"\\nq:\" + msg.qos;\nmsg.payload += \"\\ni:\" + msg._msgid;\nmsg.payload += \"\\ns:\" + 'nr-gateway';\nmsg.payload += \"\\np:\" + msg.old_payload;\nreturn msg;","outputs":1,"noerr":0,"x":750.0142211914062,"y":179.00567626953125,"wires":[["ccc5aed3.ebb44","b34fb96b.3b9378"]]},{"id":"b41d63bc.9c6b","type":"mqtt in","z":"83f8131.9ac25f","name":"mqtt inbound","topic":"#","broker":"8db8aecb.b6d9d","x":140.01422119140625,"y":219.00567626953125,"wires":[["eb6a999.6f04268"]]},{"id":"776c6a9.14ba894","type":"websocket in","z":"83f8131.9ac25f","name":"mqba_sapgw","server":"fc9dd82f.45a3e8","client":"","x":140.01422119140625,"y":399.00567626953125,"wires":[["a7d21752.31f1a8"]]},{"id":"86283a70.ef86c8","type":"debug","z":"83f8131.9ac25f","name":"sap outbound","active":false,"console":false,"complete":"true","x":970.0142211914062,"y":459.00567626953125,"wires":[]},{"id":"a10a223a.4273a","type":"mqtt out","z":"83f8131.9ac25f","name":"mqtt outbound","topic":"","qos":"","retain":"","broker":"8db8aecb.b6d9d","x":970.0142211914062,"y":399.00567626953125,"wires":[]},{"id":"9dde0cfa.dae62","type":"function","z":"83f8131.9ac25f","name":"check for topic ","func":"// store topic to eliminate echos    \nflow.set(msg.topic,new Date());\nreturn msg;","outputs":1,"noerr":0,"x":730.0142211914062,"y":399.00567626953125,"wires":[["a10a223a.4273a","86283a70.ef86c8"]]},{"id":"eb6a999.6f04268","type":"function","z":"83f8131.9ac25f","name":"check content","func":"// check context\nif( msg.topic != undefined ){\n    var called = flow.get(msg.topic);\n    if(called != undefined ){\n        // ignore this message\n        flow.set(msg.topic,null);\n        msg.valid = false;\n    }else msg.valid = true;\n}else{\n    msg.valid = false;\n}\n// return\nreturn msg;","outputs":1,"noerr":0,"x":350.01422119140625,"y":219.00567626953125,"wires":[["cb9bbd69.4713a"]]},{"id":"cb9bbd69.4713a","type":"switch","z":"83f8131.9ac25f","name":"valid message?","property":"valid","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":550.0142211914062,"y":219.00567626953125,"wires":[["dc4ce9b7.c7a798"],["5b11691.f76c198"]]},{"id":"5b11691.f76c198","type":"debug","z":"83f8131.9ac25f","name":"invalid message inbound","active":true,"console":false,"complete":"true","x":780.0142211914062,"y":299.00567626953125,"wires":[]},{"id":"a7d21752.31f1a8","type":"function","z":"83f8131.9ac25f","name":"check content","func":"// check for empty context\nif(msg.payload === undefined){\n    msg.valid = false;\n    return msg;\n}\n\n// check for json context\nvar firstChar = msg.payload.substr(0,1);\nif( firstChar != '{' ){\n    msg.valid = false;\n    return msg;\n}\n\n\n// get message from json payload\nvar newMsg = JSON.parse(msg.payload);\n\n// check invalid topic\nif(newMsg.topic === undefined){\n    msg.valid = false;\n    return msg;\n}else{\n// move some values from current msg object    \n    newMsg._session = msg._session;\n    newMsg._msgid   = msg._msgid;\n    newMsg.valid = true;    \n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":350.01422119140625,"y":399.00567626953125,"wires":[["250026fe.44933a"]]},{"id":"250026fe.44933a","type":"switch","z":"83f8131.9ac25f","name":"valid message?","property":"valid","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":550.0142211914062,"y":399.00567626953125,"wires":[["9dde0cfa.dae62"],["fa1cfcff.43c14"]]},{"id":"fa1cfcff.43c14","type":"debug","z":"83f8131.9ac25f","name":"invalid message outbound","active":true,"console":false,"complete":"true","x":760.0142211914062,"y":499.00567626953125,"wires":[]},{"id":"285e8563.335d6a","type":"comment","z":"83f8131.9ac25f","name":"MQBA Message Queue Broker ABAP - V20180829","info":"","x":260.01422119140625,"y":119.00567626953125,"wires":[]}]
